@mixin flex($alignItems, $justifyContent){
    display: flex;
    align-items: $alignItems;
    justify-content: $justifyContent;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url(https://bayanbox.ir/download/6918506764327559316/SF-Pro-Display-Light.otf);
}
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'SF Pro Display';
    font-weight: 300;
    letter-spacing: 0.5px;
    transition: all 0.3s;
}

.lightMode{
    --bodyBack: #f3f3f3;
    --firstBack: #fff;
    --secBack: #369;
    --hoverSecBack: #336699dd;
    --firstColor: #000;
    --secColor: #666;
    --borderColor: #e5e5e5;
    --hoverBorderColor: #e5e5e5aa;
    --secBorderColor: #bababa;
    --border: 1px solid var(--borderColor);
    background: var(--bodyBack);
}

.darkMode{
  --bodyBack: #000;
  --firstBack: #0c0c0c;
  --secBack: #369;
  --hoverSecBack: #336699dd;
  --firstColor: #fff;
  --secColor: #999;
  --borderColor: #1a1a1a;
  --hoverBorderColor: #1a1a1aaa;
  --secBorderColor: #353535;
  --border: 1px solid var(--borderColor);
  background: var(--bodyBack);
}